{% extends "booking/base.html" %}
{% load staticfiles %}



{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if registered %}
        <h1>Welcome to the Xsite!</h1>
      {% else %}
        <h1>Book your bike now</h1>
        <h3>India on Wheels.</h3>
                <h4>Join Us</h4>

<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          {{ profile_form.as_p }}
    <button type="submit" name="now" value="Now">Now</button>
    <button type="submit" name="schedule" value="Schedule">Schedule</button>
          <input type="submit" name="" value="Book Ride">
        </form>

      {% endif %}

    </div>
       <img src='{% static "img2.jpg" %}' alt="wallpaper" >
  </div>
{% endblock %}

<li><a href = "{% url 'uaccounts:user_login' %}?action=logout">Logout</a></li>