{% load static %}
{% block title %}
    {% if categories %}{{ categories.category_name }} {% else %} Categories {% endif %}
{% endblock %}

{% block content %}
   <div class="container-fluid">
      <div class="row" style="margin-top: 6%">
        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <ol class="list-unstyled">
              <li {% if not category %} class="active"{% endif %}><a href="{% url 'booking:model_list' %}">All</a></li>
            {% for c in categories %}

              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.category_name }}</a>
              </li>
            {% endfor %}
            </ol>
          </div><!-- /.blog-post -->

    </div><!-- /.container -->
      </div>
   </div>
{% endblock %}