{% extends 'uaccounts/base.html' %}
{% block body_block %}
{% if email is None %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>

<form method="post" action="{% url 'uaccounts:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="email" placeholder="Username">
<label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
{{ formset.errors }}
    {{ formset.non_field_errors }}
    {{ form.errors }}
    {{ form.non_field_errors }}
</form>

</div>
  </div>
{% else %}

<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Xsite !</h1>
    {% if email is not None%}
        <h2>Hello {{ email }}</h2>
    {% else %}
        <h2>You are not authenticated.</h2>
    {% endif %}
  </div>
</div>

{% block signout %}
<li><a href = "{% url 'uaccounts:user_login' %}?action=logout">Logout</a></li>
{% endblock %}
{% endif %}
{% endblock %}