{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.mk-bkng-btn{
    width: 100%;
}

.specs_value {
    font-size: 1em;
    padding-top: 0.1em;
}
    </style>
</head>
<body>

{% block content %}
  {% include "uaccounts/base.html" %}
            <section id="content-section5" class="content-section5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            {{ start }} to {{ end }}
                            <div><a href="{% url "booking:model_list_by_category" %}?current_loc={{ loc }}&start={{ start }}&end={{ end }}&lat={{ lat }}&lon={{ lon }}&area={{ area }}" class="btn btn-default">Book more</a></div>
                            <div style="font-size: 1.5em">You are riding:</div>
                            {% for item in cart %}
                    {% with model=item.model  %}
<div class="media">
  <div class="media-left media-top">
<a href="{{ model.get__absolute_url }}">
    <img src="{% if model.model_image %} {{ media_url }}{{ model.model_image.img }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="width: 8em">
</a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">{{ model.model_name }}</h4>
    <p>₹{{ item.price }}</p>
    <a href="{% url "orders:cart_remove" model.m_id %}">Remove</a>
  </div>
</div>
                        <!--<div>
                            <div>
                                <a href="{{ model.get__absolute_url }}">
                                    <img src="{% if model.model_image %} {{ media_url }}{{ model.model_image.img }} {% else %} {% static 'img/default.jpg' %} {% endif %}" alt="..." style="height: 130px; width: auto">
                                </a>
                            </div>
                            <td>{{ model.m_id }}</td>
                            <div>{{ model.model_name }}</div>
                            <div>Rs. {{ item.price }}</div>
                            <a href="{% url "orders:cart_remove" model.m_id %}">Remove</a>
                            <td>Rs. {{ item.total_price }}</td>
                        </div>-->
                            <hr>
                    {% endwith %}
                {% endfor %}

                        <div class="col-md-8">
                {% with totail_items=cart|length %}
                {% if cart|length > 0 %}
                          <div class="panel panel-default">
                            <div class="panel-heading">Just one step away ({{ totail_items }} model{{ totail_items|pluralize }})</div>
                            <div class="panel-body">
                            <div class="text-center specs_value">₹{{ cart.get_sub_total_price }} + 18% GST (each model)</div>
                            <hr>
                                <div class="text-center specs_value">Payable amount: ₹{{ cart.get_total_price }}</div>
                            </div>
                              {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
                          </div>
                            <div class="text-center"><button class="btn btn-primary mk-bkng-btn">Checkout</button></a></div>
                        </div>
                    </div><!-- end row -->
                </div><!-- end container -->
                </div>
            </section>
{% endblock %}
</body>
</html>