{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
{% block content %}

            <header class="header7" id="header7">
{% include "useraccounts/base.html" %}
            </header><!-- header -->
            <section id="content-section5" class="content-section5">
                <div class="container">
                    <div class="row">
                      <div class="col-md-4">
{% block title %}
<h3>Terms and Conditions</h3>
{% endblock %}

                      </div>
                    </div><!-- end row -->
                </div><!-- end container -->
            </section>
{% endblock %}
</body>
</html>