<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-sclale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>More reviews-YAAN Rides</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

     .navbar-default {
    background: #131f3e;;
}
</style>
</head>
<body>
{% block content %}


            <section id="content-section5" class="content-section5">
                <div class="container">
                    <div class="row">
                      <div class="col-md-4">
{% if latest_review_list %}
                {% for model in modeldetails %}
<div>
    <div id="usr_cmnt_tb">
    {% for review in latest_review_list %}
        <div class="col-md-20" style="margin-top: 2em">
        <div class="media">
        <div class="media-left media-top">
            <img src="img_avatar1.png" class="media-object" style="width:30px">
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ review.user_id.first_name }} {{ review.user_id.last_name }} ({{ review.rating }})</h4>
            <a href="{{ review.get_detail_url }}" style="text-decoration: none"><div>{{ review.comment }}</div></a>
            <!--<button class="review_del_btn" name="{{ review.id }}">Delete</button>-->
        </div>
    </div>

        <hr>
    {% endfor %}
                              </div>
    </div>
    <div id="usr_cmnt_tb_liv"></div>
</div>
                {% endfor %}
          {% else %}
<p>No reviews are available.</p>
{% endif %}
                      </div>
                    </div><!-- end row -->
                </div><!-- end container -->
            </section>
{% endblock %}
</body>
</html>