<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Failed | Try again - YAAN Rides</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'stylesheet/index_direct.css' %}">
<link rel="shortcut icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
<style>
.navbar-default {
    	background: #131f3e;;
}
</style>
</head>
<body>
{% include "useraccounts/base.html" %}
<div style="display:none">
   	<input type="hidden" name="csrfmiddlewaretoken" value="{% csrf_token %}">
</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5 mx-auto">
          <h4>Something went wrong. Transaction failed</h4><hr><h4>Please try again.</h4>
          <a href="https://www.yaanrides.com/"><button class="btn mk-bkng-btn">Home</button></a>
      </div>
    </div>
  </div>
</body>
</html>
