<nav role="navigation" class="navbar navbar-default">
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button" data-selector="Footers" style="">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{% url 'index' %}" class="navbar-brand brand" data-selector="nav a, a.edit" style=""><i class="fa fa-codepen"></i><span>Charvehi</span></a>
                    </div>

                    <div id="navbar-collapse-02" class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">
                                {% if user.is_authenticated %}
                            <li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" data-selector="nav a, a.edit" style=""><strong>{{ request.user.email }}</strong><span class="caret"></span></a>
                            <ul class="dropdown-menu">
      <li><a href="{% url 'useraccounts:view_profile'%}">Profile</a></li>
      <li><a href="{% url 'useraccounts:edit_profile'%}">Edit Profile</a></li>
      <li><a href="{% url 'useraccounts:change_password'%}">Change Password</a></li>
      <li><a href="{% url 'useraccounts:logout'%}">Log Out!</a></li>
    </ul>
                            </li>

                            {% endif %}
                            <!--<li class=""><a href="{% if user.is_authenticated and user.is_vendor %}{% url 'dealer:show' %} {%else %}{% endif %}" data-selector="nav a, a.edit" style="">Home</a></li>-->
                            <li class=""><a href="/" data-selector="nav a, a.edit" style="">Home</a></li>
                            <li><a href="/contact-us/" data-selector="nav a, a.edit" style="">Contact</a></li>

                           {% if user.is_authenticated %}
            <li><a class="nav-button" href="{% url 'useraccounts:logout' %}" data-selector="nav a, a.edit" style="">Log out</a></li>
                            {% else %}

                            <li><a class="nav-button" href="{% url 'useraccounts:register' %}" data-selector="nav a, a.edit" style="">Sign Up</a></li>
                            <li><a class="nav-button" href="{% url 'useraccounts:login' %}?next={{ request.get_full_path|urlencode }}" data-selector="nav a, a.edit" style="">Log In</a></li>
                            <li><a href="/bike/book/orders/" data-selector="nav a, a.edit" style="">Cart</a></li>
                            <!--<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown" data-selector="nav a, a.edit" style=""><strong>Vendor</strong><span class="caret"></span></a>
                            <ul class="dropdown-menu">
      <li><a href="{% url 'useraccounts:login'%}">SignIn</a></li>
      <li><a href="{% url 'useraccounts:registerdealer'%}">SignUp</a></li>

                            </ul>
                            </li>-->
      {% endif %}


                        </ul>

                    </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
