<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
       <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-sclale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/stylesheet/uaccounts/reg-log.css">
  <style>
         .navbar-default {
    background: #131f3e;;
}
    </style>
</head>
<body>
{% include "useraccounts/base.html" %}
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h4 class="card-title text-center">Sign In</h4>
              {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

              {% if form.non_field_errors %}
                                                 {% for error in form.non_field_errors %}
                                                 <div class="text-danger" style="color:red;">
                                                     {{ error }}
                                                 </div>
                                                 {% endfor %}
                                                 {% endif %}
             <!--  {{ form.non_field_errors }}for form field erros -->
              <form method="POST" action="">
                 {% csrf_token %}

                  <div class="form-label-group">


                {{ form.username }}
                <label for="inputEmail">Email or Phone</label>



              </div>
                  <div class="form-label-group">

                {{ form.password }}
                    <label for="inputPassword">Password</label>
              </div>
                  <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
                  <span ><a href="{% url 'password_reset' %}">forget password?</a></span><hr class="my-1">
              <input value="Login Securely" name="" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
               <!--  <hr class="my-4">
           <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
              <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->

            </form>




          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
