<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
          <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-sclale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Profile - YAAN Rides</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/stylesheet/uaccounts/reg-log.css">
<link rel="shortcut icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
<link rel="icon" href="{% static 'ico_set/ry-logo/favicon.ico' %}" type="image/x-icon">
    <style>
            .navbar-default {
    background: #131f3e;;
}
    </style>
</head>
<body>

{% block content %}
  {% include "useraccounts/base.html" %}

                        <div align="center">
                        <img src="https://img.icons8.com/material-rounded/100/000000/user.png">
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                        <div class="col-sm-12">
<div align="center">
    {% if user.email %}
                                                   <h3 class="text-center">Welcome {{ user }}</h3>
    {% endif %}
                                            {% if user.email %}
                                            <div class="form-group">
                                                {{ user.email }}
                                            </div>
                                            {% endif %}
                                            {% if user.first_name %}
                                            <div class="form-group">
                                               {{user.first_name }} {{ user.last_name }}
                                            </div>
                                            {% endif %}
                                            {% if user.city %}
                                            <div class="form-group">
                                                {{ user.city }}
                                            </div>

                                            {% endif %}
                                            {% if user.phone %}
                                            <div class="form-group">
                                                MobileNumber:{{ user.phone }}
                                            </div>

                                            {% endif %}
</div>
{% if messages %}
{% for message in messages %}
<div align="center">
    {{message }}
</div>
{%endfor %}
{% endif %}
                                        </div>
                                    <div class="col-md-12">
                                        <hr>
                                        <h3 class="text-center"><strong>My Happy Rides</strong></h3>
{% for rideinfo in rides %}
<table class="table">
    <thead>
    <tr>
            <th>Order ID: {{ rideinfo.order_id }}</th>
    </tr>
    </thead>
	<tr>
        <td height="17" align="left"><h3>Description</h3></td>
        <td align="right"><h3>Values</h3></td>
	</tr>
	<tr>
        <td height="17" align="left"><h4>Start date</h4></td>
        <td align="right">{{ rideinfo.start_date }}<div style="font-size: 12px">({{ rideinfo.start_time }})</div></td>
	</tr>

	<tr>
        <td height="17" align="left"><h4>End date</h4></td>
        <td align="right">{{ rideinfo.end_date }}<div style="font-size: 12px">({{ rideinfo.end_time }})</div></td>
	</tr>
    <tr>
        <td height="17" align="left"><h3>Amount</h3></td>
        <td align="right"><h3>₹{{ rideinfo.amount_paid }}</h3><td>
    </tr>
</table>
{% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                        {% endblock %}
</body>
</html>